* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App h1 {
  background-color: #cca353;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1.5rem 0;
  /* margin-bottom: 2rem; */
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container > *{
  margin-bottom: 2rem;
}