.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0;
  margin-top: 3rem;
  transition: transform 0.15s ease-out;
  background-color: #f8f8f8;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card .img-container {
  height: 320px;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.product-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 10px;
  padding-bottom: 30px;
}

.product-card h2 {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  /* color: #333; */
}

.product-category {
  display: inline-block;
  color: #5e5e5e8f;
  padding: .25rem .75rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-info p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  margin: 0;
  margin-top: 5px;
  color: #666;
}

.product-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.product-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.product-reviews h3 {
  font-weight: 600;
  margin: 0;
}

.rating {
  color: #cca353;
}

.product-reviews p {
  font-size: 0.8rem;
  color: #888;
}