* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}

.App h1 {
  background-color: #cca353;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  width: 100%;
}